{% load static %}
<div style="text-align:center; font-weight:300; color:black">
    <img src="{% static 'images/logo.png' %}" alt="edavids logo" width="120px">
    <br><br>
    Thank you for signing up for my newsletter!<br>
    Please complete the process by<br><br>
    <a href="{url}/confirm/?email={email}&conf_num={conf_num}"> clicking here to \
        confirm your registration</a>.
    <br>
    <br>
    Sincerely Yours<br>
    Me Edavids<br>
    <br>
    <small>For more enquiry please contact <a href="https://www.edavids.com/support/"
            style="font-weight:700; color:grey;">support</a></small>
</div>