{% load static %}

<!-- Slider
============================================= -->
<section id="slider" class="slider-element min-vh-md-100 py-4 include-header" style="background: #FFF url('{% static 'images/hero/hero-bg.svg' %}') repeat top center; background-size: cover; min-height: 100vh">
    <div class="slider-inner">
        <div class="vertical-middle slider-element-fade">
            <div class="container text-center py-5">
                <div class="emphasis-title mb-2">
                    <h4 class="text-uppercase ls3 font-weight-bold mb-0 mt-3">Hi, I am David Jeremiah.</h4>
                    <h1>
                        <span id="oc-images" class="owl-carousel image-carousel carousel-widget" data-items="1" data-margin="0" data-autoplay="3000" data-loop="true" data-nav="false" data-pagi="false" data-animate-in="fadeInUp">
                            <div class="oc-item gradient-text gradient-red-yellow text-uppercase">A Developer</div>
                            <div class="oc-item gradient-text gradient-red-yellow text-uppercase">A Designer</div>
                            <div class="oc-item gradient-text gradient-red-yellow text-uppercase">A Writer</div>
                            <div class="oc-item gradient-text gradient-red-yellow text-uppercase">A Mentor</div>
                        </span>
                    </h1>
                </div>
                <div class="mx-auto"  style="max-width: 600px">
                    <p class="lead font-weight-normal text-dark mb-5">who researchs, designs and codes beautiful web applications, mobile applications and creative items, I also mentor new developers and creates custom themes for VSCode.</p>
                    <a href="{% url 'under-construction' %}" class="button button-dark button-hero h-translatey-3 tf-ts button-reveal overflow-visible bg-dark text-right"><span>View My Works</span><i class="icon-line-arrow-right"></i></a>
                    <a href="#" data-scrollto="#footer" data-easing="easeInOutExpo" data-speed="1250" data-offset="70" class="button button-large button-light text-dark bg-transparent m-0"><i class="icon-line2-arrow-down font-weight-bold"></i> <u>Say Hello</u></a>
                </div>
            </div>
        </div>
    </div>
</section><!-- #slider end -->
