<div class="section bg-transparent py-5">

  <div class="container">
    <div class="row align-items-end mb-5">
      <div class="col-lg-5 offset-lg-1">
        <h3 class="font-weight-bolder h1">The ways I can help you</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minima error ducimus recusandae sed ipsam, cumque optio reiciendis nihil labore!</p>
      </div>
    </div>

    <div  class="row gutter-50 mb-5 align-items-stretch">
      <div class="col-md-4">
        <div class="card d-flex align-items-end flex-column p-4 border-0" style="background-color: #E2E8D8;">
          <div class="mt-5"></div>
          <div class="mt-auto">
            <div class="card-body">
              <div class="d-flex align-items-center mb-4">
                <img src="demos/freelancer/images/icons/sketch.svg" height="50" alt="Image">
                <img src="demos/freelancer/images/icons/xd.png" height="50" alt="Image" class="ml-3">
              </div>
              <h3 class="card-title font-weight-bolder">Website Design</h3>
              <p class="card-text mb-0 mt-2 font-weight-light">Objectively productivate interoperable process improvements after team building testing procedures. Distinctively architect resource-leveling portals.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card d-flex align-items-end flex-column p-4 border-0" style="background-color: #C2DFEC;">
          <div class="mt-5"></div>
          <div class="mt-auto">
            <div class="card-body">
              <img src="demos/seo/images/icons/social.svg" alt="Image" class="mb-4" height="50">
              <h3 class="card-title font-weight-bolder">Responsive Website</h3>
              <p class="card-text mb-0 mt-2 font-weight-light">Objectively productivate interoperable process improvements after team building testing procedures. Distinctively architect resource-leveling portals.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card d-flex align-items-end flex-column p-4 border-0" style="background-color: #FADCE4">
          <div class="mt-5"></div>
          <div class="mt-auto">
            <div class="card-body">
              <img src="demos/freelancer/images/icons/wp.png" height="50" alt="Image" class="mb-4">
              <h3 class="card-title font-weight-bolder">WordPress Website</h3>
              <p class="card-text mb-0 mt-2 font-weight-light">Objectively productivate interoperable process improvements after team building testing procedures. Distinctively architect resource-leveling portals.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card d-flex align-items-end flex-column p-4 border-0" style="background-color: #E4E4E4">
          <div class="mt-5"></div>
          <div class="mt-auto">
            <div class="card-body">
              <img src="demos/seo/images/icons/seo.svg" height="50" alt="Image" class="mb-4">
              <h3 class="card-title font-weight-bolder">SEO Optimised</h3>
              <p class="card-text mb-0 mt-2 font-weight-light">Objectively productivate interoperable process improvements after team building testing procedures. Distinctively architect resource-leveling portals.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card d-flex align-items-end flex-column p-4 border-0" style="background-color: #E5E3CE;">
          <div class="mt-5"></div>
          <div class="mt-auto">
            <div class="card-body">
              <img src="demos/freelancer/images/icons/hosting.svg" height="50" alt="Image" class="mb-4">
              <h3 class="card-title font-weight-bolder">Web Hosting</h3>
              <p class="card-text mb-0 mt-2 font-weight-light">Objectively productivate interoperable process improvements after team building testing procedures. Distinctively architect resource-leveling portals.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card d-flex align-items-end flex-column p-4 border-0" style="background-color: #C9D6CF">
          <div class="mt-5"></div>
          <div class="mt-auto">
            <div class="card-body">
              <img src="demos/freelancer/images/icons/plugins.png" height="50" alt="Image" class="mb-4">
              <h3 class="card-title font-weight-bolder">Plugin Development</h3>
              <p class="card-text mb-0 mt-2 font-weight-light">Objectively productivate interoperable process improvements after team building testing procedures. Distinctively architect resource-leveling portals.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>

</div>
