{% load static %}

<div class="section bg-transparent py-5">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-4">
        <h3 class="font-weight-bolder h1 mb-4">What Some of my Clients Say</h3>

        <div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget mt-5" data-margin="0" data-items="1" data-pagi="true" data-nav="false">

          <div class="oc-item">
            <div class="testimonial border-0 shadow-none bg-transparent">
              <div class="testi-content">
                <p>Quickly redefine resource sucking web services after exceptional customer service. Professionally coordinate focused platforms before visionary architectures.</p>
                <div class="testi-meta d-flex align-items-center">
                  <img class="lazyload" data-src="{% static 'images/faces/face.jpg' %}" width="100%" height="100%" alt="Face">
                  <div>
                    John Doe
                    <span class="pl-0">XYZ Inc.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="oc-item">
            <div class="testimonial border-0 shadow-none bg-transparent">
              <div class="testi-content">
                <p>Dramatically mesh user friendly solutions whereas sticky human capital. Assertively fashion impactful "outside the box".</p>
                <div class="testi-meta d-flex align-items-center">
                  <img class="lazyload" data-src="{% static 'images/faces/face2.jpg' %}" alt="Face" width="100%" height="100%">
                  <div>
                    John Doe
                    <span class="pl-0">XYZ Inc.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="oc-item">
            <div class="testimonial border-0 shadow-none bg-transparent">
              <div class="testi-content">
                <p>Progressively productivate customer directed meta-services without magnetic bandwidth.</p>
                <div class="testi-meta d-flex align-items-center">
                  <img class="lazyload" data-src="{% static 'images/faces/face3.jpg' %}" alt="Face" width="100%" height="100%">
                  <div>
                    John Doe
                    <span class="pl-0">XYZ Inc.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6">
        <img class="lazyload" data-src="{% static 'images/bg.svg' %}" alt="testimonial background"  width="100%" height="100%">
      </div>
    </div>
  </div>
</div>

