{% extends "base.html" %}
{% load i18n compress static %}
{% block title %}About | {{block.super}}{% endblock title %}
{% block cano %}{% url 'about' %}{% endblock cano %}
{% block ogurl %}{% url 'about' %}{% endblock ogurl %}

{% block description %}Read more about David Jeremiah as a Full Stack Developer &amp; Mentor.{% endblock description %}
{% block ogdesc %}Read more about David Jeremiah as a Full Stack Developer &amp; Mentor.{% endblock ogdesc %}
{% block twitdesc %}Read more about David Jeremiah as a Full Stack Developer &amp; Mentor.{% endblock twitdesc %}
{% block keywords %}what is edavids, who is edavids, edavids mission, edavids projects, edavids about, about jeremiah
david{% endblock keywords %}
{% block css %}{% compress css inline %}{% include 'includes/pagecss.html' %}{% endcompress %}{% endblock css %}

{% block bodyclass %}class="stretched"{% endblock bodyclass %}

{% block mainpage %}
<div class="clearfix" id="wrapper">
  {% include 'includes/nav.html' %}
  {% include 'includes/messages.html' %}

  <section id="content">
    <div class="content-wrap p-0">
      <div class="container mw-md mt-5">
        <h1 class="display-3 font-weight-bolder text-uppercase">About Me<br><span class="gradient-text gradient-horizon"
            property="jeremiah david">
            Edavids</span></h2>
          <div class="row mt-4">
            <div class="col-md-8 offset-1">
              <p class="lead">Since beginning my journey as a freelance <span
                  property="fullstack developer">Developer/Designer</span> nearly 5 years ago,
                I've done remote work for agencies, consulted for startups, and collaborated with talented people
                to create digital products for both <span property="company website">business</span> and consumer use.
                I'm quietly confident,
                naturally curious, and perpetually working on improving my chops one problem at a
                time.</p>
            </div>
          </div>

      </div>
      {% include 'includes/service.html' %}
      {% include 'includes/faqs.html' %}
    </div>
  </section>




  {% include 'includes/footer.html' %}
</div>
{% include 'includes/totop.html' %}
{% endblock mainpage %}


{% block javascript %}
{% compress js inline %}
{% include 'includes/pagejs.html' %}
{% endcompress %}
{% endblock javascript %}