{% extends "base.html" %}
{% load i18n compress static %}
{% block title %}About | {{block.super}}{% endblock title %}
{% block cano %}{% url 'about' %}{% endblock cano %}
{% block ogurl %}{% url 'about' %}{% endblock ogurl %}

{% block description %}Read more about David Jeremiah as a Full Stack Developer &amp; Mentor.{% endblock description %}
{% block ogdesc %}Read more about David Jeremiah as a Full Stack Developer &amp; Mentor.{% endblock ogdesc %}
{% block twitdesc %}Read more about David Jeremiah as a Full Stack Developer &amp; Mentor.{% endblock twitdesc %}
{% block keywords %}what is edavids, who is edavids, edavids mission, edavids projects, edavids about{% endblock keywords %}
{% block css %}{% compress css inline %}{% include 'includes/pagecss.html' %}{% endcompress %}{% endblock css %}

{% block bodyclass %}class="stretched"{% endblock bodyclass %}

{% block mainpage %}
<div class="clearfix" id="wrapper">
  {% include 'includes/nav.html' %}
  {% include 'includes/messages.html' %}

  <section id="content">
    <div class="content-wrap p-0">
      <div class="container mw-md mt-5">
        <h2 class="display-3 font-weight-bolder text-uppercase">More of<br><span class="gradient-text gradient-horizon">
            Me Edavids</span></h2>
        <div class="row mt-4">
          <div class="col-md-8 offset-1">
            <p class="lead">Since beginning my journey as a freelance Developer/Designer nearly 5 years ago,
              I've done remote work for agencies, consulted for startups, and collaborated with talented people
              to create digital products for both business and consumer use. I'm quietly confident,
              naturally curious, and perpetually working on improving my chops one problem at a
              time.</p>
          </div>
        </div>

      </div>
      <div class="section text-center mb-0">
        <div class="mw-xs mx-auto ">
          <h3 class="display-4 font-weight-bolder text-uppercase">I Do It with <span
              class="gradient-text gradient-horizon">Them</span></h3>
          <p class="mt-4">Due years of experience i have been able to partner with these companies</p>

          <div class="clear"></div>

          <div class="row justify-content-center align-items-center mt-4 col-mb-30">
            <div class="col-md-4 col-6 center"><img class="lazyload" data-src="{% static 'images/clients/amazon.svg' %}" alt="Clients"></div>
            <div class="col-md-4 col-6 center"><img class="lazyload" data-src="{% static 'images/clients/google.svg' %}" alt="Clients"></div>
            <div class="col-md-4 col-6 center"><img class="lazyload" data-src="{% static 'images/clients/paypal.svg' %}" alt="Clients"></div>
            <div class="col-md-4 col-6 center"><img class="lazyload" data-src="{% static 'images/clients/ps.svg' %}" alt="Clients"></div>
          </div>
        </div>
      </div>
    </div>
  </section>



  {% include 'includes/footer.html' %}
</div>
{% include 'includes/totop.html' %}
{% endblock mainpage %}


{% block javascript %}
{% compress js inline %}
{% include 'includes/pagejs.html' %}
{% endcompress %}
{% endblock javascript %}