{% extends "base.html" %}
{% load i18n compress static %}
{% block title %}About - {{block.super}}{% endblock title %}

{% block description %}Read more about David Jeremiah as a developer.{% endblock description %}

{% block css %}{% compress css %}{% include 'includes/pagecss.html' %}{% endcompress %}{% endblock css %}

{% block bodyclass %}class="stretched"{% endblock bodyclass %}

{% block mainpage %}
<div class="clearfix" id="wrapper">
    {% include 'includes/nav.html' %}
    {% include 'includes/messages.html' %}

    <section id="content">
        <div class="content-wrap p-0">
            <div class="container mw-md mt-5">
                <h2 class="display-3 font-weight-bolder text-uppercase">More of<br><span class="gradient-text gradient-horizon"> Me Edavids</span></h2>
                <div class="row mt-4">
                    <div class="col-md-8 offset-1">
                        <p class="lead">To put it simply, David is a developer. Growing up, David could always be found whisever thise was a working system. He constantly questioned his doubts and satisfied he's curiosity for technology. Left unfulfilled from boring classwork and a redundant routine, David began to spend a majority of his time on the internet when He was only in grade school. When the computer booted up, 10-year-old David knew his opportunities were endless, for the world was quite literally in his hands.</p>
                        <p class="lead">Today, David is a full-time software engineer at Edavids, a Tech Startup, where he writes code to improve the future of technology. David studies technological trends on a regular basis and shares knowledge on his #MeEdavids series on his Instagram blog. When he's not writing code from 9-5, you can find him writing code for his freelance clients or sharing a story on Instagram. David creates content in his free time and regularly partners with brands who strive to make the world a better place.</p>
                        <p class="lead">So, what's next for David? Follow along his journey on Instagram to stay updated on what he's doing next.</p>
                    </div>
                </div>

            </div>
            <div class="section text-center mb-0">
                <div class="mw-xs mx-auto ">
                    <h3 class="display-4 font-weight-bolder text-uppercase">I Do It with <span class="gradient-text gradient-horizon">Them</span></h3>
                    <p class="mt-4">Due years of experience i have been able to partner with these companies</p>

                    <div class="clear"></div>

                    <div class="row justify-content-center align-items-center mt-4 col-mb-30">
                        <div class="col-md-4 col-6 center"><img src="{% static 'images/clients/amazon.svg' %}" alt="Clients"></div>
                        <div class="col-md-4 col-6 center"><img src="{% static 'images/clients/google.svg' %}" alt="Clients"></div>
                        <div class="col-md-4 col-6 center"><img src="{% static 'images/clients/paypal.svg' %}" alt="Clients"></div>
                        <div class="col-md-4 col-6 center"><img src="{% static 'images/clients/ps.svg' %}" alt="Clients"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    {% include 'includes/footer.html' %}
</div>
{% include 'includes/totop.html' %}
{% endblock mainpage %}


{% block javascript %}{% compress js %}{% include 'includes/pagejs.html' %}{% endcompress %}{% endblock javascript %}
