{% extends 'account/email/base.html' %}
{% load account i18n %}


{% block title %}Reset Your Password{% endblock title%}

{% block mainpage %}
<section id="slider" class="slider-element min-vh-md-100 py-4 include-header"
  style="background: #FFF url('{% static 'images/hero/hero-bg.svg' %}') repeat top center; background-size: cover; min-height: 100vh">
  <div class="slider-inner">
    <div class="vertical-middle slider-element-fade">
      <div class="container text-center py-5">
        {% autoescape off %}
        <div class="emphasis-title mb-2">
          <h4>
            {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Reset your password on
            <strong>{{ site_domain }}</strong>{% endblocktrans %}
          </h4>
          <p>
            {% if username %}

            {% blocktrans %}
            In case you forgot, your username is {{ username }}.
            {% endblocktrans %}
            {% endif %}
          </p>
        </div>
        <div class="mx-auto" style="max-width: 600px">
          <p class="lead font-weight-normal text-dark mb-5">{% blocktrans with site_name=current_site.name
            site_domain=current_site.domain %}
            You're receiving this e-mail because you or someone else has requested a password for your user account.
            It can be safely ignored if you did not request a password reset. Click the link below to reset your
            password.
            {% endblocktrans %}</p>
          <a href="{{password_reset_url}}"
            class="button button-dark button-hero h-translatey-3 tf-ts button-reveal overflow-visible bg-dark text-right"><span>Reset
              Password</span><i class="icon-line-arrow-right"></i></a>
        </div>
        {% endautoescape %}
      </div>
    </div>
  </div>
</section><!-- #slider end -->
{% endblock mainpage %}